In [18]:
import numpy as np
numpy.version.version

'2.1.1'

In [19]:
import pandas as pd
pandas.__version__

'2.2.3'

Numpy : Manipulation de matrices et calculs scientifique

In [20]:
# Création d'un tableau numpy
array=np.array([[1,2,3],[4,5,6]])

In [21]:
#affichage de la taille et de la forme
print("Taille du tableau:" , array.size)
print("Forme du tableau:" , array.shape)

Taille du tableau: 6
Forme du tableau: (2, 3)

In [22]:
 # Operation de base :
print("Somme de tous les éléments:", np.sum(array))
print("Moyenne par colonne:", np.mean(array,axis=0))

Somme de tous les éléments: 21
Moyenne par colonne: [2.5 3.5 4.5]

Pandas: Manipulation et analyses de données

In [23]:
# Création d'une DataFrame
data = {'Nom': ["Alice", "Bob", "Chalie"], 'Age': [25,30,35], 'Ville': ["Paris","Lyon", "Marseil"]}
df = pd.DataFrame(data)

# Affichage des premieres lignes
print(df.head())
# Opération sur les colonnes
print("Age moyen", df['Age'].mean())
# Filtrer les données
print(df[df['Age']>30])

      Nom  Age    Ville
0   Alice   25    Paris
1     Bob   30     Lyon
2  Chalie   35  Marseil
Age moyen 30.0
      Nom  Age    Ville
2  Chalie   35  Marseil